In [2]:
import pandas as pd
import numpy as np

**Loading the data and selecting features

**Import data

In [3]:
loan_data_inputs_train = pd.read_csv('loan_data_inputs_train.csv', index_col = 0)
loan_data_targets_train = pd.read_csv('loan_data_targets_train.csv', index_col = 0, header = None)
loan_data_inputs_test = pd.read_csv('loan_data_inputs_test.csv', index_col = 0)
loan_data_targets_test = pd.read_csv('loan_data_targets_test.csv', index_col = 0, header = None)

Explore data

In [4]:
loan_data_inputs_train.head()

,Unnamed: 0.1,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,dti:21.7-22.4,dti:22.4-35,dti:>35,mths_since_last_record:Missing,mths_since_last_record:0-2,mths_since_last_record:3-20,mths_since_last_record:21-31,mths_since_last_record:32-80,mths_since_last_record:81-86,mths_since_last_record:>=86
427211,427211,12796369,14818505,24000,24000,24000.0,36 months,8.90,762.08,A,...,1,0,0,1,0,0,0,0,0,0
206088,206088,1439740,1691948,10000,10000,10000.0,36 months,14.33,343.39,C,...,0,0,0,1,0,0,0,0,0,0
136020,136020,5214749,6556909,20425,20425,20425.0,36 months,8.90,648.56,A,...,0,0,0,1,0,0,0,0,0,0
412305,412305,13827698,15890016,17200,17200,17200.0,36 months,16.59,609.73,D,...,0,0,0,1,0,0,0,0,0,0
36159,36159,422455,496525,8400,8400,7450.0,36 months,12.84,282.40,C,...,0,1,0,1,0,0,0,0,0,0

In [5]:
loan_data_targets_train.head()

        1
0
427211  1
206088  1
136020  1
412305  0
36159   0

In [6]:
loan_data_inputs_train.shape

(373028, 329)

In [7]:
loan_data_targets_train.shape

(373028, 1)

In [8]:
loan_data_inputs_test.shape

(93257, 329)

In [9]:
loan_data_targets_test.shape

(93257, 1)

In [10]:
inputs_train_with_ref_cat = loan_data_inputs_train.loc[: ,['grade:A',
'grade:B',
'grade:C',
'grade:D',
'grade:E',
'grade:F',
'grade:G',
'home_ownership:RENT_OTHER_NONE_ANY',
'home_ownership:OWN',
'home_ownership:MORTGAGE',
'addr_state:ND_NE_IA_NV_FL_HI_AL',
'addr_state:NM_VA',
'addr_state:NY',
'addr_state:OK_TN_MO_LA_MD_NC',
'addr_state:CA',
'addr_state:UT_KY_AZ_NJ',
'addr_state:AR_MI_PA_OH_MN',
'addr_state:RI_MA_DE_SD_IN',
'addr_state:GA_WA_OR',
'addr_state:WI_MT',
'addr_state:TX',
'addr_state:IL_CT',
'addr_state:KS_SC_CO_VT_AK_MS',
'addr_state:WV_NH_WY_DC_ME_ID',
'verification_status:Source Verified',
'verification_status:Verified',
'verification_status:Not Verified',
'purpose:educ__sm_b__wedd__ren_en__mov__house',
'purpose:oth__med__vacation',
'purpose:major_purch__car__home_impr',
'purpose:debt_consolidation',
'purpose:credit_card',
'initial_list_status:f',
'initial_list_status:w',
'term:36',
'term:60',
'emp_length:0',
'emp_length:1',
'emp_length:2-4',
'emp_length:5-6',
'emp_length:7-9',
'emp_length:10',
'mths_since_issue_date:<38',
'mths_since_issue_date:38-39',
'mths_since_issue_date:40-41',
'mths_since_issue_date:42-48',
'mths_since_issue_date:49-52',
'mths_since_issue_date:53-64',
'mths_since_issue_date:65-84',
'mths_since_issue_data:>84',
'int_rate:<9.548',
'int_rate:9.548-12.025',
'int_rate:12.025-15.74',
'int_rate:15.74-20.281',
'int_rate:>20.281',
'mths_since_earliest_cr_line:<140',
'mths_since_earliest_cr_line:141-164',
'mths_since_earliest_cr_line:165-247',
'mths_since_earliest_cr_line:248-270',
'mths_since_earliest_cr_line:271-352',
'mths_since_earliest_cr_line:>352',
'delinq_2yrs:0',
'delinq_2yrs:1-3',
'delinq_2yrs:>=4',
'inq_last_6mths:0',
'inq_last_6mths:1-2',
'inq_last_6mths:3-6',
'inq_last_6mths:>6',
'open_acc:0',
'open_acc:1-3',
'open_acc:4-12',
'open_acc:13-17',
'open_acc:18-22',
'open_acc:23-25',
'open_acc:26-30',
'open_acc:>=31',
'pub_rec:0-2',
'pub_rec:3-4',
'pub_rec:>=5',
'total_acc:<=27',
'total_acc:28-51',
'total_acc:>=52',
'acc_now_delinq:0',
'acc_now_delinq:>=1',
'total_rev_hi_lim:<=5K',
'total_rev_hi_lim:5K-10K',
'total_rev_hi_lim:10K-20K',
'total_rev_hi_lim:20K-30K',
'total_rev_hi_lim:30K-40K',
'total_rev_hi_lim:40K-55K',
'total_rev_hi_lim:55K-95K',
'total_rev_hi_lim:>95K',
'annual_inc:< 20K',
'annual_inc:20K-30K',
'annual_inc:30K-40K',
'annual_inc:40K-50K',
'annual_inc:50K-60K',
'annual_inc:60K-70K',
'annual_inc:70K-80K',
'annual_inc:80K-90K',
'annual_inc:90K-100K',
'annual_inc:100K-120K',
'annual_inc:120K-140K',
'annual_inc:>140K',
'mths_since_last_delinq:Missing',
'mths_since_last_delinq:0-3',
'mths_since_last_delinq:4-30',
'mths_since_last_delinq:31-56',
'mths_since_last_delinq:>=57',
'dti:<=1.4',
'dti:1.4-3.5',
'dti:3.5-7.7',
'dti:7.7-10.5',
'dti:10.5-16.1',
'dti:16.1-20.3',
'dti:20.3-21.7',
'dti:21.7-22.4',
'dti:22.4-35',
'dti:>35',
'mths_since_last_record:Missing',
'mths_since_last_record:0-2',
'mths_since_last_record:3-20',
'mths_since_last_record:21-31',
'mths_since_last_record:32-80',
'mths_since_last_record:81-86',
'mths_since_last_record:>=86']]

In [11]:
ref_categories = ['grade:G',
'home_ownership:RENT_OTHER_NONE_ANY',
'addr_state:ND_NE_IA_NV_FL_HI_AL',
'verification_status:Verified',
'purpose:educ__sm_b__wedd__ren_en__mov__house',
'initial_list_status:f',
'term:60',
'emp_length:0',
'mths_since_issue_data:>84',
'int_rate:>20.281',
'mths_since_earliest_cr_line:<140',
'delinq_2yrs:>=4',
'inq_last_6mths:>6',
'open_acc:0',
'pub_rec:0-2',
'total_acc:<=27',
'acc_now_delinq:0',
'total_rev_hi_lim:<=5K',
'annual_inc:< 20K',
'dti:>35',
'mths_since_last_delinq:0-3',
'mths_since_last_record:0-2']

In [12]:
inputs_train = inputs_train_with_ref_cat.drop(ref_categories, axis=1)
inputs_train.head()

,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,home_ownership:OWN,home_ownership:MORTGAGE,addr_state:NM_VA,addr_state:NY,...,dti:16.1-20.3,dti:20.3-21.7,dti:21.7-22.4,dti:22.4-35,mths_since_last_record:Missing,mths_since_last_record:3-20,mths_since_last_record:21-31,mths_since_last_record:32-80,mths_since_last_record:81-86,mths_since_last_record:>=86
427211,1,0,0,0,0,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
206088,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
136020,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
412305,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
36159,0,0,1,0,0,0,0,1,0,0,...,0,0,0,1,1,0,0,0,0,0

In [13]:
inputs_train.isnull().sum()

grade:A                         0
grade:B                         0
grade:C                         0
grade:D                         0
grade:E                         0
                               ..
mths_since_last_record:3-20     0
mths_since_last_record:21-31    0
mths_since_last_record:32-80    0
mths_since_last_record:81-86    0
mths_since_last_record:>=86     0
Length: 104, dtype: int64

**PD Model Estimation

**Logistic Regression

In [14]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [15]:
reg = LogisticRegression()

In [16]:
pd.options.display.max_rows = None

In [17]:
reg.fit(inputs_train, loan_data_targets_train)

C:\Users\PREETHI\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\PREETHI\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [18]:
reg.intercept_

array([-1.66940176])

In [19]:
reg.coef_

array([[ 1.09524529,  0.92678209,  0.73082539,  0.53432974,  0.33238341,
         0.13955078,  0.09976259,  0.11608214,  0.03016159,  0.05551501,
         0.0671192 ,  0.05928118,  0.07630702,  0.13806366,  0.10005618,
         0.18269283,  0.24516166,  0.22590787,  0.26093323,  0.32578927,
         0.5184441 ,  0.02779913,  0.10253972,  0.24569854,  0.30412538,
         0.2473427 ,  0.34961547,  0.1243032 ,  0.08523501,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.56288467,
         0.39154456,  0.28074557,  0.0866798 , -0.05677593, -0.29254889,
        -0.48003068,  0.8606037 ,  0.46614683,  0.23116572,  0.06783263,
         0.01889734, -0.01375213,  0.01688572,  0.05585136,  0.05996642,
         0.03323132,  0.05288685,  0.96563565,  0.81407469,  0.5864344 ,
         0.33707817,  0.26777428,  0.23330473,  0.21470219,  0.21344828,
         0.25119882,  0.17105779,  0.13237524,  0.16845311, -0.01891736,
         0.02540624,  0.16707502,  0.08278734,  0.08620851,  0.1121762 ,
         0.14335519,  0.17538016,  0.21124957,  0.36930938, -0.04667601,
         0.03002448,  0.12972822,  0.1980998 ,  0.27643005,  0.34916904,
         0.42507637,  0.44373057,  0.5195133 ,  0.60634417,  0.52973846,
        -0.01001019,  0.09053164,  0.08546733,  0.03662429,  0.1016753 ,
         0.26973833,  0.30714943,  0.24738435,  0.17408637,  0.07803162,
         0.068759  ,  0.03151301,  0.00986982,  0.53057126,  0.66745522,
         0.61159348,  0.78162988,  0.35472278,  0.4537476 ]])

In [20]:
feature_name = inputs_train.columns.values

In [21]:
summary_table = pd.DataFrame(columns = ['Feature_name'], data = feature_name)
summary_table['Coefficients'] = np.transpose(reg.coef_)
summary_table.index = summary_table.index + 1
summary_table.loc[0] = 'Intercept', reg.intercept_[0]
summary_table = summary_table.sort_index()
summary_table

                            Feature_name  Coefficients
0                              Intercept     -1.669402
1                                grade:A      1.095245
2                                grade:B      0.926782
3                                grade:C      0.730825
4                                grade:D      0.534330
5                                grade:E      0.332383
6                                grade:F      0.139551
7                     home_ownership:OWN      0.099763
8                home_ownership:MORTGAGE      0.116082
9                       addr_state:NM_VA      0.030162
10                         addr_state:NY      0.055515
11          addr_state:OK_TN_MO_LA_MD_NC      0.067119
12                         addr_state:CA      0.059281
13                addr_state:UT_KY_AZ_NJ      0.076307
14             addr_state:AR_MI_PA_OH_MN      0.138064
15             addr_state:RI_MA_DE_SD_IN      0.100056
16                   addr_state:GA_WA_OR      0.182693
17                      addr_state:WI_MT      0.245162
18                         addr_state:TX      0.225908
19                      addr_state:IL_CT      0.260933
20          addr_state:KS_SC_CO_VT_AK_MS      0.325789
21          addr_state:WV_NH_WY_DC_ME_ID      0.518444
22   verification_status:Source Verified      0.027799
23      verification_status:Not Verified      0.102540
24            purpose:oth__med__vacation      0.245699
25   purpose:major_purch__car__home_impr      0.304125
26            purpose:debt_consolidation      0.247343
27                   purpose:credit_card      0.349615
28                 initial_list_status:w      0.124303
29                               term:36      0.085235
30                          emp_length:1      0.000000
31                        emp_length:2-4      0.000000
32                        emp_length:5-6      0.000000
33                        emp_length:7-9      0.000000
34                         emp_length:10      0.000000
35             mths_since_issue_date:<38      0.562885
36           mths_since_issue_date:38-39      0.391545
37           mths_since_issue_date:40-41      0.280746
38           mths_since_issue_date:42-48      0.086680
39           mths_since_issue_date:49-52     -0.056776
40           mths_since_issue_date:53-64     -0.292549
41           mths_since_issue_date:65-84     -0.480031
42                       int_rate:<9.548      0.860604
43                 int_rate:9.548-12.025      0.466147
44                 int_rate:12.025-15.74      0.231166
45                 int_rate:15.74-20.281      0.067833
46   mths_since_earliest_cr_line:141-164      0.018897
47   mths_since_earliest_cr_line:165-247     -0.013752
48   mths_since_earliest_cr_line:248-270      0.016886
49   mths_since_earliest_cr_line:271-352      0.055851
50      mths_since_earliest_cr_line:>352      0.059966
51                         delinq_2yrs:0      0.033231
52                       delinq_2yrs:1-3      0.052887
53                      inq_last_6mths:0      0.965636
54                    inq_last_6mths:1-2      0.814075
55                    inq_last_6mths:3-6      0.586434
56                          open_acc:1-3      0.337078
57                         open_acc:4-12      0.267774
58                        open_acc:13-17      0.233305
59                        open_acc:18-22      0.214702
60                        open_acc:23-25      0.213448
61                        open_acc:26-30      0.251199
62                         open_acc:>=31      0.171058
63                           pub_rec:3-4      0.132375
64                           pub_rec:>=5      0.168453
65                       total_acc:28-51     -0.018917
66                        total_acc:>=52      0.025406
67                    acc_now_delinq:>=1      0.167075
68               total_rev_hi_lim:5K-10K      0.082787
69              total_rev_hi_lim:10K-20K      0.086209
70              total_rev_hi_lim:20K-30K      0.112176
71              total_rev_hi_lim:30K-40K      0.143355
72              total_rev_hi_lim:40K-55K      0.175380
73              total_rev_hi_lim:55K-95K      0.211250
74                 total_rev_hi_lim:>95K      0.369309
75                    annual_inc:20K-30K     -0.046676
76                    annual_inc:30K-40K      0.030024
77                    annual_inc:40K-50K      0.129728
78                    annual_inc:50K-60K      0.198100
79                    annual_inc:60K-70K      0.276430
80                    annual_inc:70K-80K      0.349169
81                    annual_inc:80K-90K      0.425076
82                   annual_inc:90K-100K      0.443731
83                  annual_inc:100K-120K      0.519513
84                  annual_inc:120K-140K      0.606344
85                      annual_inc:>140K      0.529738
86        mths_since_last_delinq:Missing     -0.010010
87           mths_since_last_delinq:4-30      0.090532
88          mths_since_last_delinq:31-56      0.085467
89           mths_since_last_delinq:>=57      0.036624
90                             dti:<=1.4      0.101675
91                           dti:1.4-3.5      0.269738
92                           dti:3.5-7.7      0.307149
93                          dti:7.7-10.5      0.247384
94                         dti:10.5-16.1      0.174086
95                         dti:16.1-20.3      0.078032
96                         dti:20.3-21.7      0.068759
97                         dti:21.7-22.4      0.031513
98                           dti:22.4-35      0.009870
99        mths_since_last_record:Missing      0.530571
100          mths_since_last_record:3-20      0.667455
101         mths_since_last_record:21-31      0.611593
102         mths_since_last_record:32-80      0.781630
103         mths_since_last_record:81-86      0.354723
104          mths_since_last_record:>=86      0.453748

**Build a Logistic Regression Model with P-values

In [30]:
from sklearn import linear_model
import scipy.stats as stat
import numpy as np

class LogisticRegression_with_p_values:
    
    def __init__(self, *args, **kwargs):
        self.model = linear_model.LogisticRegression(*args, **kwargs)
    
    def fit(self, X, y):
        self.model.fit(X, y)
        denom = (2.0 * (1.0 + np.cosh(self.model.decision_function(X))))
        denom = np.tile(denom, (X.shape[1],1)).T
        F_ij = np.dot((X/denom).T,X)
        Cramer_Rao = np.linalg.inv(F_ij)
        sigma_estimates = np.sqrt(np.diagonal(Cramer_Rao))
        z_scores = self.model.coef_[0] / sigma_estimates
        p_values = [stat.norm.sf(abs(x)) * 2 for x in z_scores]
        self.coef_ = self.model.coef_
        self.intercept_ = self.model.intercept_
        self.p_values = p_values

In [31]:
reg = LogisticRegression_with_p_values()

In [32]:
reg.fit(inputs_train, loan_data_targets_train)

C:\Users\PREETHI\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\PREETHI\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LinAlgError: Singular matrix

In [25]:
summary_table = pd.DataFrame(columns = ['Feature_name'], data = feature_name)
summary_table['Coefficients'] = np.transpose(reg.coef_)
summary_table.index = summary_table.index + 1
summary_table.loc[0] = 'Intercept', reg.intercept_[0]
summary_table = summary_table.sort_index()
summary_table

AttributeError: 'LogisticRegression_with_p_values' object has no attribute 'coef_'

In [ ]:
p_values = reg.p_values

In [ ]:
p_values = np.append(np.nan, np.array(p_values))

In [ ]:
summary_table['p_values'] = p_values

In [ ]:
summary_table

In [26]:
inputs_train_with_ref_cat = loan_data_inputs_train.loc[: ,['grade:A',
'grade:B',
'grade:C',
'grade:D',
'grade:E',
'grade:F',
'grade:G',
'home_ownership:RENT_OTHER_NONE_ANY',
'home_ownership:OWN',
'home_ownership:MORTGAGE',
'addr_state:ND_NE_IA_NV_FL_HI_AL',
'addr_state:NM_VA',
'addr_state:NY',
'addr_state:OK_TN_MO_LA_MD_NC',
'addr_state:CA',
'addr_state:UT_KY_AZ_NJ',
'addr_state:AR_MI_PA_OH_MN',
'addr_state:RI_MA_DE_SD_IN',
'addr_state:GA_WA_OR',
'addr_state:WI_MT',
'addr_state:TX',
'addr_state:IL_CT',
'addr_state:KS_SC_CO_VT_AK_MS',
'addr_state:WV_NH_WY_DC_ME_ID',
'verification_status:Source Verified',
'verification_status:Verified',
'verification_status:Not Verified',
'purpose:educ__sm_b__wedd__ren_en__mov__house',
'purpose:oth__med__vacation',
'purpose:major_purch__car__home_impr',
'purpose:debt_consolidation',
'purpose:credit_card',
'initial_list_status:f',
'initial_list_status:w',
'term:36',
'term:60',
'emp_length:0',
'emp_length:1',
'emp_length:2-4',
'emp_length:5-6',
'emp_length:7-9',
'emp_length:10',
'mths_since_issue_date:<38',
'mths_since_issue_date:38-39',
'mths_since_issue_date:40-41',
'mths_since_issue_date:42-48',
'mths_since_issue_date:49-52',
'mths_since_issue_date:53-64',
'mths_since_issue_date:65-84',
'mths_since_issue_data:>84',
'int_rate:<9.548',
'int_rate:9.548-12.025',
'int_rate:12.025-15.74',
'int_rate:15.74-20.281',
'int_rate:>20.281',
'mths_since_earliest_cr_line:<140',
'mths_since_earliest_cr_line:141-164',
'mths_since_earliest_cr_line:165-247',
'mths_since_earliest_cr_line:248-270',
'mths_since_earliest_cr_line:271-352',
'mths_since_earliest_cr_line:>352',
'inq_last_6mths:0',
'inq_last_6mths:1-2',
'inq_last_6mths:3-6',
'inq_last_6mths:>6',
'acc_now_delinq:0',
'acc_now_delinq:>=1',
'annual_inc:< 20K',
'annual_inc:20K-30K',
'annual_inc:30K-40K',
'annual_inc:40K-50K',
'annual_inc:50K-60K',
'annual_inc:60K-70K',
'annual_inc:70K-80K',
'annual_inc:80K-90K',
'annual_inc:90K-100K',
'annual_inc:100K-120K',
'annual_inc:120K-140K',
'annual_inc:>140K',
'mths_since_last_delinq:Missing',
'mths_since_last_delinq:0-3',
'mths_since_last_delinq:4-30',
'mths_since_last_delinq:31-56',
'mths_since_last_delinq:>=57',
'dti:<=1.4',
'dti:1.4-3.5',
'dti:3.5-7.7',
'dti:7.7-10.5',
'dti:10.5-16.1',
'dti:16.1-20.3',
'dti:20.3-21.7',
'dti:21.7-22.4',
'dti:22.4-35',
'dti:>35',
'mths_since_last_record:Missing',
'mths_since_last_record:0-2',
'mths_since_last_record:3-20',
'mths_since_last_record:21-31',
'mths_since_last_record:32-80',
'mths_since_last_record:81-86',
'mths_since_last_record:>=86']]

In [27]:
ref_categories = ['grade:G',
'home_ownership:RENT_OTHER_NONE_ANY',
'addr_state:ND_NE_IA_NV_FL_HI_AL',
'verification_status:Verified',
'purpose:educ__sm_b__wedd__ren_en__mov__house',
'initial_list_status:f',
'term:60',
'emp_length:0',
'mths_since_issue_data:>84',
'int_rate:>20.281',
'mths_since_earliest_cr_line:<140',
'inq_last_6mths:>6',
'acc_now_delinq:0',
'annual_inc:< 20K',
'dti:>35',
'mths_since_last_delinq:0-3',
'mths_since_last_record:0-2']

In [28]:
inputs_train = inputs_train_with_ref_cat.drop(ref_categories, axis=1)
inputs_train.head()

,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,home_ownership:OWN,home_ownership:MORTGAGE,addr_state:NM_VA,addr_state:NY,...,dti:16.1-20.3,dti:20.3-21.7,dti:21.7-22.4,dti:22.4-35,mths_since_last_record:Missing,mths_since_last_record:3-20,mths_since_last_record:21-31,mths_since_last_record:32-80,mths_since_last_record:81-86,mths_since_last_record:>=86
427211,1,0,0,0,0,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
206088,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
136020,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
412305,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
36159,0,0,1,0,0,0,0,1,0,0,...,0,0,0,1,1,0,0,0,0,0

In [29]:
reg2= LogisticRegression_with_p_values
reg2.fit(inputs_train, loan_data_targets_train)

TypeError: fit() missing 1 required positional argument: 'y'

In [ ]:
feature_name = inputs_train_columns.values

In [ ]:
summary_table = pd.DataFrame(columns = ['Feature_name'], data = feature_name)
summary_table['Coefficients'] = np.transpose(reg.coef_)
summary_table.index = summary_table.index + 1
summary_table.loc[0] = 'Intercept', reg.intercept_[0]
summary_table = summary_table.sort_index()
summary_table

In [ ]:
p_values = reg2.p_values
p_values = np.append(np.nan, np.array(p_values))
summary_table['p_values'] = p_values
summary_table

PD Model validation(test)

In [33]:
inputs_test_with_ref_cat = loan_data_inputs_test.loc[:, ['grade:A',
'grade:B',
'grade:C',
'grade:D',
'grade:E',
'grade:F',
'grade:G',
'home_ownership:RENT_OTHER_NONE_ANY',
'home_ownership:OWN',
'home_ownership:MORTGAGE',
'addr_state:ND_NE_IA_NV_FL_HI_AL',
'addr_state:NM_VA',
'addr_state:NY',
'addr_state:OK_TN_MO_LA_MD_NC',
'addr_state:CA',
'addr_state:UT_KY_AZ_NJ',
'addr_state:AR_MI_PA_OH_MN',
'addr_state:RI_MA_DE_SD_IN',
'addr_state:GA_WA_OR',
'addr_state:WI_MT',
'addr_state:TX',
'addr_state:IL_CT',
'addr_state:KS_SC_CO_VT_AK_MS',
'addr_state:WV_NH_WY_DC_ME_ID',
'verification_status:Source Verified',
'verification_status:Verified',
'verification_status:Not Verified',
'purpose:educ__sm_b__wedd__ren_en__mov__house',
'purpose:oth__med__vacation',
'purpose:major_purch__car__home_impr',
'purpose:debt_consolidation',
'purpose:credit_card',
'initial_list_status:f',
'initial_list_status:w',
'term:36',
'term:60',
'emp_length:0',
'emp_length:1',
'emp_length:2-4',
'emp_length:5-6',
'emp_length:7-9',
'emp_length:10',
'mths_since_issue_date:<38',
'mths_since_issue_date:38-39',
'mths_since_issue_date:40-41',
'mths_since_issue_date:42-48',
'mths_since_issue_date:49-52',
'mths_since_issue_date:53-64',
'mths_since_issue_date:65-84',
'mths_since_issue_data:>84',
'int_rate:<9.548',
'int_rate:9.548-12.025',
'int_rate:12.025-15.74',
'int_rate:15.74-20.281',
'int_rate:>20.281',
'mths_since_earliest_cr_line:<140',
'mths_since_earliest_cr_line:141-164',
'mths_since_earliest_cr_line:165-247',
'mths_since_earliest_cr_line:248-270',
'mths_since_earliest_cr_line:271-352',
'mths_since_earliest_cr_line:>352',
'inq_last_6mths:0',
'inq_last_6mths:1-2',
'inq_last_6mths:3-6',
'inq_last_6mths:>6',
'acc_now_delinq:0',
'acc_now_delinq:>=1',
'annual_inc:< 20K',
'annual_inc:20K-30K',
'annual_inc:30K-40K',
'annual_inc:40K-50K',
'annual_inc:50K-60K',
'annual_inc:60K-70K',
'annual_inc:70K-80K',
'annual_inc:80K-90K',
'annual_inc:90K-100K',
'annual_inc:100K-120K',
'annual_inc:120K-140K',
'annual_inc:>140K',
'mths_since_last_delinq:Missing',
'mths_since_last_delinq:0-3',
'mths_since_last_delinq:4-30',
'mths_since_last_delinq:31-56',
'mths_since_last_delinq:>=57',
'dti:<=1.4',
'dti:1.4-3.5',
'dti:3.5-7.7',
'dti:7.7-10.5',
'dti:10.5-16.1',
'dti:16.1-20.3',
'dti:20.3-21.7',
'dti:21.7-22.4',
'dti:22.4-35',
'dti:>35',
'mths_since_last_record:Missing',
'mths_since_last_record:0-2',
'mths_since_last_record:3-20',
'mths_since_last_record:21-31',
'mths_since_last_record:32-80',
'mths_since_last_record:81-86',
'mths_since_last_record:>=86']]

In [34]:
ref_categories = ['grade:G',
'home_ownership:RENT_OTHER_NONE_ANY',
'addr_state:ND_NE_IA_NV_FL_HI_AL',
'verification_status:Verified',
'purpose:educ__sm_b__wedd__ren_en__mov__house',
'initial_list_status:f',
'term:60',
'emp_length:0',
'mths_since_issue_data:>84',
'int_rate:>20.281',
'mths_since_earliest_cr_line:<140',
'inq_last_6mths:>6',
'acc_now_delinq:0',
'annual_inc:< 20K',
'dti:>35',
'mths_since_last_delinq:0-3',
'mths_since_last_record:0-2']

In [35]:
inputs_test = inputs_test_with_ref_cat.drop(ref_categories, axis = 1)
inputs_test.head()

,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,home_ownership:OWN,home_ownership:MORTGAGE,addr_state:NM_VA,addr_state:NY,...,dti:16.1-20.3,dti:20.3-21.7,dti:21.7-22.4,dti:22.4-35,mths_since_last_record:Missing,mths_since_last_record:3-20,mths_since_last_record:21-31,mths_since_last_record:32-80,mths_since_last_record:81-86,mths_since_last_record:>=86
362514,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
288564,0,0,0,0,1,0,0,1,0,0,...,0,0,0,1,1,0,0,0,0,0
213591,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
263083,0,0,1,0,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,0,0
165001,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0

**Estimate the probability of default of each observation from the test data

In [ ]:
y_hat_test = reg2.model.predict(inputs_test)

In [ ]:
y_hat_test

In [ ]:
y_hat_test_proba = reg2.model.predict_proba(inputs_test)

In [ ]:
y_hat_test_proba

In [ ]:
y_hat_test_proba[:][:, 1]

In [ ]:
y_hat_test_proba = y_hat_test_proba[:][:, 1]

**Put the actual good_bad vaiable and the prediction in one dataframe

In [ ]:
loan_data_targets_test_temp = loan_data_targets_test

In [ ]:
loan_data_targets_test_temp.reset_index(drop = True, inplace = True)

In [ ]:
df_actual_predicted_proba = pd.concat([loan_data_targets_test_temp, pd.DataFrame(y_hat_test_proba)], axis = 1)

In [ ]:
df_actual_predicted_proba.shape

In [ ]:
df_actual_predicted_proba.columns = ['loan_data_targets_test', 'y_hat_test_proba']

In [ ]:
df_actual_predicted_proba.index = loan_data_inputs_test.index

In [ ]:
df_actual_predicted_proba.head()

estimated probability <= cut-off probability: Bad(Default)
estimated probability > cut_off probability:Good(non-default)

In [ ]:
tr = 0.5
df_actual_predicted_proba['y_hat_test'] = np.where(df_actual_predicted_proba['y_hat_test_proba'] > tr, 1, 0)

In [ ]:
pd.crosstab(df_actual_predicted_proba['loan_data_targets_test'], df_actual_predicted_proba['y_hat_test'],
            rownames = ['Actual'], colnames = ['Predicted'])

In [ ]:
pd.crosstab(df_actual_predicted_proba['loan_data_targets_test'], df_actual_predicted_proba['y_hat_test'],
            rownames = ['Actual'], colnames = ['Predicted']) / df_actual_predicted_proba.shape[0]

In [ ]:
(pd.crosstab(df_actual_predicted_proba['loan_data_targets_test'], df_actual_predicted_proba['y_hat_test'],
            rownames = ['Actual'], colnames = ['Predicted']) / df_actual_predicted_proba.shape[0]).iloc[0,0] + (pd.crosstab(df_actual_predicted_proba['loan_data_targets_test'], df_actual_predicted_proba['y_hat_test'],
            rownames = ['Actual'], colnames = ['Predicted']) / df_actual_predicted_proba.shape[0]).iloc[1,1]

Under threshold of 0.5 the model generates a lot of false positives

In [36]:
from sklearn.metrics import roc_curve, roc_auc_score

In [ ]:
roc_curve(df_actual_predicted_proba['loan_data_targets_test'], df_actual_predicted_proba['y_hat_test_proba'])

1st array contains False Postive Rate, 2nd array contains True Positive rate and 3rd array is threshold.

In [ ]:
fpr, tpr, thresholds = roc_curve(df_actual_predicted_proba['loan_data_targets_test'], 
                                 df_actual_predicted_proba['y_hat_test_proba'])

In [37]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [ ]:
plt.plot(fpr, tpr)
plt.plot(fpr, fpr, linestyle = '--', color = 'k')
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('ROC curve')

In [ ]:
AUROC = roc_auc_score(df_actual_predicted_proba['loan_data_targets_test'], df_actual_predicted_proba['y_hat_test_proba'])
AUROC

Gini and Kolmogorov-Smirnov

Evaluation of model performance: Gini and Kolmogorov-Smirnov
Gini Coefficient in CRM measures the inequality between the deafult and non-default borrower in a population.
The Gini coefficient is measured by plotting the cumulative proportion of defaulted or bad borrowers
as a function of the cumulative proportion of all borrowers.
Data should be in ascending order.

In [ ]:
df_actual_predicted_proba = df_actual_predicted_proba.sort.values('y_hat_test_proba')

In [ ]:
df_actual_predicted_proba.head()

In [ ]:
df_actual_predicted_proba.tail()

Reset the index of the dataframe

In [ ]:
df_actual_predicted_proba = df_actual_predicted_proba.reset_index()

In [ ]:
df_actual_predicted_proba.head()

To make plots of our model performance criteria, we need:
1.the cumulative % of total population
2.the cumulative % of good borrowers
3.the cumulative % of bad borrowers

In [ ]:
df_actual_predicted_proba['Cumulative N Population'] = df_actual_predicted_proba.index + 1
df_actual_predicted_proba['Cumulative N Good'] = df_actual_predicted_proba['loan_data_targets_test'].cumsum()
df_actual_predicted_proba['Cumulative N Bad'] = df_actual_precited_proba['Cumulative N Population'] - df_actual_predicted_proba['loan_data_targets_test'].cumsum()

In [ ]:
df_actual_predicted_proba['Cumulative Perc Population'] = df_actual_predicted_proba['Cumulative N Population'] / (df_actual_predicted_proba.shape[0])
df_actual_predicted_proba['Cumulative Perc Good'] = df_actual_predicted_proba['Cumulative N Good']/df_actual_predicted_proba['loan_data_targets_test'].sum()
df_actual_predicted_proba['Cumulative Perc Bad'] = df_actual_predicted_proba['Cumulative N Bad']/ (df_actual_predicted_proba.shape[0]-df_actual_predicted_proba['loan_data_targets_test'].sum())

In [ ]:
df_actual_predicted_proba.head()

In [ ]:
df_actual_predicted_proba.tail()

In [ ]:
plt.plot(df_actual_predicted_proba['Cumulative Perc Population'], df_actual_predicted_proba['Cumulative Perc Bad'])
plt.plot(df_actual_predicted_proba['Cumulative Perc Population'], df_actual_predicted_proba['Cumulative Perc Population'], linestyle = '--', color = 'k')
plt.xlabel('Cumulative % Population')
plt.ylabel('Cumulative % Bad')
plt.title('Gini')

Gini = AUROC * 2 - 1
AUROC = (Gini + 1)/2

In [ ]:
Gini = AUROC * 2 - 1
Gini

perfect model --> Maximum distance --> K-S = 1
Perdicting by chance --> Almost no distance --> K-S = 0

In [ ]:
plt.plot(df_actual_predicted_proba['y_hat_test_proba'], df_actual_predicted_proba['Cumulative Perc Bad'], color = 'r')
plt.plot(df_actual_predicted_proba['y_hat_test_proba'], df_actual_predicted_proba['Cumulative Perc Good'], color = 'b')
plt.xlabel('Estimated probability for being Good')
plt.ylabel('Cumulative %')
plt.title('Kolmogorov-Smirnov')

In [ ]:
KS = max(df_actual_predicted_proba['Cumulative Perc Bad'] - df_actual_predicted_proba['Cumulative Perc Good'])
KS

KS = 0.2964
The two cumulative distribution functions are sufficiently faraway from each other and the model has satisfactory predictive power.

**Applying the PD Model

Calculating PD of indivual accounts

In [ ]:
pd.options.display.max.columns = None

In [ ]:
inputs_test_with_ref_cat.head()

In [ ]:
summary_table

ln((1-pd)/pd)= intercept + x1b1 + x2b2 + ...+ xmbm = p
1-pd/pd = exp(p)= q
1 - pd = q/q+1

**Creating scorecard

In [ ]:
summary_table

In [ ]:
ref_categories

In [ ]:
df_ref_categories = pd.DataFrame(ref_categories, columns = ['Feature name'])
df_ref_categories['Coefficients'] = 0
df_ref_categories['p_values'] = np.nan
df_ref_categories

In [ ]:
df_scorecard = pd.concat(summary_table, df_ref_categories)
df_scorecard = df_scorecard.reset_index()
df_scorecard

In [ ]:
df_scorecard['Original feature name'] = df_scorecard['Feature name'].str.split(':').str[0]
df_scorecard

In order to create a scorecard we need to turn regression coeffients from our pd model into simple scores.
First, we need to decide the minimum and maximum score.
Let,
Minimum score = 300
Maximum score = 850(just like FICO score).
We also need the minimum and maximum of the credit worthiness assessments that can be obtained from the PD Model.

In [ ]:
min_score = 300
max_score = 850

In [ ]:
df_scorecard.groupby('Original feature name')['Coefficients'].min()

In [ ]:
min_sum_coef = df_scorecard['Original feature name']['Coefficients'].min().sum()
min_sum_coef

In [ ]:
df_scorecard.groupby('Original feature name')['Coefficients'].max()

In [ ]:
min_sum_coef = df_scorecard['Original feature name']['Coefficients'].max().sum()
max_sum_coef

In [ ]:
df_scorecard['Score-calculation'] = df_scorecard['Coefficients'] * (max_score - min_score)/(max_sum_coef-min_sum_coef)
df_scorecard

the score corresponding to the intercept is very close to the minimum score in the worst case scenario

In [ ]:
df_scorecard['Score-calculation'][0] = ((df_scorecard['Coefficients'][0]-min_sum_coef)/(max_sum_coef-min_sum_coef))* (max_score-min_score) + min_score
df_scorecard

In [ ]:
df_scorecard['Score-Preliminary'] = df_scorecard['Score-calculation'].round()
df_scorecard

In [ ]:
min_sum_score_prel = df_scorecard.groupby('Original feature name')['Score-Preliminary'].min().sum()
min_sum_score_prel

In [ ]:
max_sum_score_prel = df_scorecard.groupby('Original feature name')['Score-Preliminary'].max().sum()
max_sum_score_prel

min_sum_score_prel becomes 300. But max_sum_score_prel becomes 851. That is due to rounding off.
Now, we need to get 850.
We can subtract one from each variable. However, It would be best to subtract from the variable that was 'rounded the most'

In [ ]:
df_scorecard['Difference'] = df_scorecard['Score-Preliminary'] - df_scorecard['Score-calculation']
df_scorecard

In [ ]:
df_scorecard['Score-Final'] = df_scorecard['Score-Preliminary']
df_scorecard['Score-Final'][77]=16
df_scorecard

In [ ]:
min_sum_score_prel = df_scorecard.groupby('Original feature name')['Score-Final'].min().sum()
min_sum_score_prel

In [ ]:
max_sum_score_prel = df_scorecard.groupby('Original feature name')['Score-Final'].max().sum()
max_sum_score_prel

Now the min_sum_score_prel and max_sum_score_prel are 300 and 850 respectively

**Calculating Credit Score for a single borrower

To calculate the credit score of a borrower, we only have to sum the credit scores corresponding to the respective dummy variables categories.

In [ ]:
inputs_test_with_ref_cat_w_intercept = inputs_test_with_ref_cat

In [ ]:
inputs_test_with_ref_cat_w_intercept.insert(0,'Intercept', 1)

In [ ]:
inputs_test_with_ref_cat_w_intercept.head()

We still have to makesure that the columns are arranged in the same order as the variables in the dataframe scorecard.

In [ ]:
inputs_test_with_ref_cat_w_intercept = inputs_test_with_ref_cat_w_intercept[df_scorecard['Feature name'].values]

In [ ]:
inputs_test_with_ref_cat_w_intercept.head()

In [ ]:
scorecard_scores=df_scorecard['Score-Final']

A good practice is to make sure that they have compatible dimensions.

In [ ]:
inputs_test_with_ref_cat_w_intercept.shape

(93257,102)

In [ ]:
scorecard_scores.shape

(102,)

to make sure we have compatible dimension we must reshape the columns.

In [ ]:
scorecard_scores = scorecard_scores.values.reshape(102, 1)

In [ ]:
scorecard_scores.shape

(102,1)

Now, we want to multiply each row from the test data by columns with scores and then sum the product.
Infact, Multiplying all rows of two matrices and then summing the products is known as 'dot prodcut'.

In [ ]:
y_score = inputs_test_with_ref_cat_w_intercept.dot(scorecard_scores)

In [ ]:
y_score.head()

**From credit score to PD

In [ ]:
sum_coef_from_score = ((y_score-min_score)/(max_score-min_score)) * (max_sum_coef - min_sum_coef) + min_sum_coef

In [ ]:
y_hat_proba_from_score = np.exp(sum_coef_from_score)/(np.exp(sum_coef_from_score) + 1)
y_hat_proba_from_score

In [ ]:
y_hat_test_proba[0:5]

They are not exactly same because when we calculated the score we rounded them.

**Setting cut-offs

In [ ]:
tr = 0.5
df_actual_predicted_proba['y_hat_test'] = np.where(df_actual_predicted_proba['y_hat_test_proba'] > tr, 1, 0)

In [ ]:
pd.crosstab(df_actual_predicted_proba['loan_data_targets_test'], df_actual_predicted_proba['y_hat_test'],
            rownames = ['Actual'], colnames = ['Predicted'])

In [ ]:
pd.crosstab(df_actual_predicted_proba['loan_data_targets_test'], df_actual_predicted_proba['y_hat_test'],
            rownames = ['Actual'], colnames = ['Predicted']) / df_actual_predicted_proba.shape[0]

In [ ]:
(pd.crosstab(df_actual_predicted_proba['loan_data_targets_test'], df_actual_predicted_proba['y_hat_test'],
            rownames = ['Actual'], colnames = ['Predicted']) / df_actual_predicted_proba.shape[0]).iloc[0,0] + (pd.crosstab(df_actual_predicted_proba['loan_data_targets_test'], df_actual_predicted_proba['y_hat_test'],
            rownames = ['Actual'], colnames = ['Predicted']) / df_actual_predicted_proba.shape[0]).iloc[1,1]

Under threshold of 0.5 the model generates a lot of false positives

In [36]:
from sklearn.metrics import roc_curve, roc_auc_score

In [ ]:
roc_curve(df_actual_predicted_proba['loan_data_targets_test'], df_actual_predicted_proba['y_hat_test_proba'])

1st array contains False Postive Rate, 2nd array contains True Positive rate and 3rd array is threshold.

In [ ]:
fpr, tpr, thresholds = roc_curve(df_actual_predicted_proba['loan_data_targets_test'], 
                                 df_actual_predicted_proba['y_hat_test_proba'])

In [37]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [ ]:
plt.plot(fpr, tpr)
plt.plot(fpr, fpr, linestyle = '--', color = 'k')
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('ROC curve')

In [ ]:
thresholds

In [ ]:
thresholds.shape

In [ ]:
df_cutoffs = pd.concat([pd.DataFrame(thresholds),pd.DataFrame(fpr), pd.DataFrame(tpr)], axis = 1)

In [ ]:
df_cutoffs.columns = ['thresholds', 'fpr', 'tpr']

In [ ]:
df_cutoffs.head()

The thresholds are in descending order that is starting from the largest to the smallest.
Note that the ROIC curve method sets the first threshold where nothing is being projected to the maximum
probability score from the supplied data plus 1.
This row is not very instructive and won't be useful for setting cutoffs so we can either drop it altogether
or set the threshold to a probability which is very close to 1.
Let's do the latter setting it to 1 minus 10 to the power 16

In [ ]:
df_cutoffs['threshold'][0] = 1 - 1/np.power(10,16)

One common way to set cutoffs is based on the estimated probabilities to be good.
Another one is through credit scores as there is a 1 to 1 correspondence between the two since scores are much more interpretable.
Let's opt for them.
We recently used a formula to calculate the probability to be good based on a score.
Now we can reverse this expression to calculate a score from probability to be good.

In [ ]:
df_cutoffs['score'] = ((np.log(df_cutoffs['thresholds']/(1-df_cutoffs['thresholds'])) - min_sum_coef) * ((max_score-min_score)/(max_sum_coef - min_sum_coef)) + min_score).round()

In [ ]:
df_cutoffs.head()

Of course there is no probability as high as the probability we set the threshold on the first row too.
So the score corresponding to it is very high and out of range.
Therefore we should place the maximum score on the first row

In [ ]:
df_cutoffs['score'][0] = max_score

In [ ]:
df_cutoffs.head()

In [ ]:
df_cutoff.tail()

Now let's see the approval and rejection rates for each possible cutoff to calculate them.
We have two options.
The first one is to use the number of loan applications that would be approved.
Second to use the number of loan applications that would be rejected if decision was made based on the
respective cutoff.

No of approved + no of rejected = Total
Approval rate = no of approved/total
Rejection rate = no of rejected/total
Rejection rate = 1-approval rate

Let's create a function that calculates the no of approved borrowers for given threshold.
This function will return the no of borrowers, for which the predicted probability is >= p

In [ ]:
def n_approved(p):
    return np.where(df_actual_predicted_proba['y_hat_test_proba'] >= p, 1, 0).sum()

In [ ]:
df_cutoffs['N Approved'] = df_cutoffs['thresholds'].apply(n_approved)
df_cutoffs['N Rejected'] = df_actual_predicted_proba['y_hat_test_proba'].shape[0] - df_cutoffs['N Approved']
df_cutoffs['Approval Rate'] = df_cutoffs['N Approved'] / df_actual_predicted_proba['y_hat_test_proba'].shape[0]
df_cutoffs['Rejection Rate'] = 1 - df_cutoffs['Approval Rate']

In [ ]:
df_cutoffs.head()

In [ ]:
df_cutoffs.tail()

Let's assume the highest level of probability we would accept is 10%.
In other words the lowest possible probability of being good is 90 percent.
With this cutoff we will end up with 53.68% approval rate and about 46.23% rejection rate.

In [ ]:
df_cutoffs.iloc[5000:6200]

How about a probability of default of 5 percent.
Well in that case we'd end up with a 20.94% approval rate and a 79.06% rejection rate.
And that's how we set cutoffs using the estimated probability of being good.

In [ ]:
df_cutoffs.iloc[1000:2000]

In [ ]:
inputs_train_with_ref_cat.to_csv('inputs_train_with_ref_cat.csv')

In [ ]:
df_scorecard.to_csv('df_scorecard.csv')